<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create User</title>
  </head>
  <body>
    <h1>Signin</h1>
    <form action="/api/auth/singin" method="POST">
      <h3>user_password</h3><input type="text" name="user_password" />
      <h3>email</h3><input type="text" name="email" />
      <button type="submit">Upload</button>
    </form>
  </body>
</html>